---
const { id } = Astro.props as {id: string}
---
<h2 id={id} class="text-center mb-8 bg-linear-to-b drop-shadow-2xl select-none from-white to-violet-500 from-20% to-80% bg-clip-text text-2xl font-bold text-transparent sm:mb-4 sm:text-5xl sm:leading-tight">
  <slot />
</h2>
