---
import detailedPinColor from '../assets/pin-detailed-color-svg.svg';
import { GithubIcon } from '@lucide/astro';
---

<header class="w-fit mx-auto border border-gray-400 rounded-full px-8 py-2 mb-8 flex gap-12 justify-between font-[gambarino-regular] select-none items-center">
  <div class="flex gap-3 items-center">
    <img src={detailedPinColor.src} alt="Dev Toolbox Logo" class="size-10 rotate-10 hover:scale-110 transition" />
  </div>
  <!-- Navigation links -->
  <nav class="flex gap-4 items-center">
    <a href="#libraries" class="text-gray-300 hover:text-white transition hover:underline">Other Libraries</a>
    <a href="https://andremov.dev/" target="_blank" class="text-gray-300 hover:text-white transition hover:underline">The Author</a>
  </nav>
  <!-- Social media links -->
  <div class="flex items-center gap-4 h-full">
    <a href="https://github.com/andremov/dev-toolbox" target="_blank" class="text-gray-200 hover:text-gray-300 hover:bg-gray-600 transition bg-gray-800 p-2 rounded-full" >
      <GithubIcon class="size-5" />
    </a>
  </div>
</header>
