---
import type { Library } from '../utils/libraries.js';

const {
  name,
  preview,
  link,
} = Astro.props as Library;
---

<a class="rounded-md border border-neutral-800 p-1 cursor-pointer bg-neutral-800 max-w-3/4 relative " href={link}>
  <img 
    class="rounded-sm overflow-hidden border border-neutral-600"
    src={preview}
  />
  <div class="absolute left-0 w-full bg-black/80 backdrop-blur-sm py-4 top-3/8 text-center">
    <span class="text-2xl font-bold">
      {name}
    </span>
  </div>
</a>