---
import  { type Tag, tagColorMap } from '../utils/tools';

interface Props {
  label: Tag;
}

const { label } = Astro.props as Props;
const color = tagColorMap[label] || 'bg-gray-200';
---

<div class={`rounded-full py-0.5 px-2 w-fit inline text-xs font-bold border ${color}`}>
  {label}
</div>