---
import '../styles/global.css'
import '../styles/gambarino.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Dev Toolbox</title>
	</head>
	<body class="bg-neutral-950 text-slate-100 md:py-6 relative">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		scroll-behavior: smooth;
	}
</style>
